<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <add name="FireBirdConnectionString" connectionString="DataSource=localhost; Database=C:\BD\PetDragao\DADOS_novo.FDB; User=SYSDBA;Password=masterkey;" />
    <add name="SqlConnectionString" connectionString="Data Source=.\DEV;Initial Catalog=UNICUS_DUGIL;User ID=unicus;Password=Wa#2tuC@yaruDrap; Persist Security Info=true; Integrated Security=false;" />
  </connectionStrings>
  <appSettings>
    <add key="BancoOdbc" value="UNICUS_DEV4" />
    <add key="SenhaBancoOdbc" value="JL7I258KATG9M4H1CO30WQYP6ZDA" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
<system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient" />
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
		</DbProviderFactories>
	</system.data></configuration>
